.buttonStartEnd,
.button,
input[type=submit] {
    background-color: #063974;
    color: $lightColor;
    padding: 0.5rem;
    font-family: $h1fontFamily;
    text-transform: uppercase;
}

.buttonStartEnd {
    margin-top: 0.5rem;
}


/* @media screen and (min-width: 930px) {
    .buttonStartEnd {
        margin-top: 1rem;
    }
}*/

@media screen and (min-width: 1020px) {
    .buttonStartEnd {
        margin-top: 1.5rem;
    }
}


/*@media screen and (min-width: 1070px) and (max-width: 1120px) {
    .buttonStartEnd {
        margin-top: 0;
    }
} */

@media screen and (min-width: 1000px) {
    .locationAndPlans button {
        margin-bottom: 2rem;
    }
}